input[type="number"] {
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0px;
    color: #191813;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    border: 1px solid #7a7971;
    border-radius: 3px;

    &:hover {
        box-shadow: 0 0 5px red;
    }
}

h2 {
    min-height: 26px;
}

.fas.fa-trash:hover {
    color: red;
}

.GURPS-label {
    &[data-label="true"] span::after {
        content: ":"
    }

    box-sizing: border-box;

    &:hover {
        border: 1px solid red;
        margin: -1px;
    }

    padding: 7px;
}

.click-to-edit {
    padding: 0;
}

.GURPS-rte {
    // height: 14px;
    // font-size: 14px;

    .rte-edit {}

    .rte-save {}
}